.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: var(--color-lighter);
  transition: var(--transition-sm);

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }

  .menu-close {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--icon-md);
    height: var(--icon-md);
    background-color: var(--color-secondary-dark);
    cursor: pointer;

    @media only screen and (min-width: 840px) {
      width: var(--icon-lg);
      height: var(--icon-lg);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: var(--icon-md);
      height: var(--icon-md);
      transform: translate(-50%, -50%);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 50%;
      mask-image: url("../../assets/images/icon-close.svg");
      background-color: #ffffff;
    }
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24rem;
    height: 100%;
    margin: 0 auto;

    ul {
      margin: var(--padding-lg) 0;

      li {
        text-align: center;

        &:not(:last-of-type) {
          border-bottom: 1px solid var(--fade-dark-sm);
        }

        a,
        span {
          display: block;
          font-size: 1.6rem;
          line-height: 4rem;
          text-decoration: none;
        }

        a {
          color: var(--color-primary-dark);
          transition: var(--transition-sm);

          &:hover {
            background-color: var(--fade-light-sm);
          }
        }

        span {
          color: var(--color-dark);
        }
      }
    }
  }
}
