.app {
  display: grid;
  grid-gap: 0;
  grid-template-columns: [nav-start] auto [nav-end page-start] 1fr [page-end];
  grid-template-rows: [nav-start] auto [nav-end page-start] 1fr [page-end footer-start] auto [footer-end];
  height: 100%;
  font-family: Roboto;
  background-color: #455a64;
  overflow: hidden;
}
