.app {
  display: grid;
  grid-gap: 0;
  grid-template-columns: [nav-start] auto [nav-end page-start] 1fr [page-end];
  grid-template-rows: [nav-start] auto [nav-end page-start] 1fr [page-end footer-start] auto [footer-end];
  height: 100%;
  font-family: Roboto;
  background-color: var(--color-lighter);
  overflow: hidden;
  user-select: none;

  * {
    font-family: Roboto;
    user-select: none;
    line-height: 1.5;
  }
}
