.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: all 0.3s;
}

@media only screen and (min-width: 840px) {
  .item {
    width: 6rem;
    height: 6rem;
  }
}

.item:nth-of-type(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.item.is-selected {
  box-shadow: 0 -4px 0 0 #ffb300 inset;
}

@media only screen and (min-width: 840px) {
  .item.is-selected {
    box-shadow: -4px 0 0 0 #ffb300 inset;
  }
}

.item .icon {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.item .title {
  display: none;
}

@media only screen and (min-width: 840px) {
  .item .icon {
    background-size: 70%;
  }

  .item .title {
    display: block;
    color: #fafafa;
  }
}
