.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--icon-md);
  height: var(--icon-md);
  cursor: pointer;
  transition: var(--transition-sm);

  @media only screen and (min-width: 840px) {
    width: var(--icon-lg);
    height: var(--icon-lg);
  }

  &.is-selected {
    box-shadow: 0 -4px 0 0 var(--color-secondary-light) inset;

    @media only screen and (min-width: 840px) {
      box-shadow: -4px 0 0 0 var(--color-secondary-light) inset;
    }
  }

  .icon {
    width: var(--icon-md);
    height: var(--icon-md);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
    background-color: var(--color-dark);
  }

  &:hover {
    background-color: var(--fade-light-md);

    .icon {
      animation: shake 0.5s;
      background-color: var(--color-secondary-light);
    }
  }

  .title {
    display: none;
    color: var(--color-dark);
    font-size: 1rem;

    @media only screen and (min-width: 840px) {
      display: block;
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.nav-hidden {
  .item {
    &.is-selected {
      box-shadow: -4px 0 0 0 var(--color-secondary-light) inset;

      @media only screen and (min-width: 840px) {
        box-shadow: 0 -4px 0 0 var(--color-secondary-light) inset;
      }
    }
  }
}
