.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: all 0.3s;
}

@media only screen and (min-width: 840px) {
  .item {
    width: 8rem;
    height: 8rem;
  }
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.item.is-selected {
  box-shadow: 0 -4px 0 0 #ffb300 inset;
}

@media only screen and (min-width: 840px) {
  .item.is-selected {
    box-shadow: -4px 0 0 0 #ffb300 inset;
  }
}

.item .icon {
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.item .title {
  display: none;
  color: #fafafa;
  font-size: 1rem;
}

@media only screen and (min-width: 840px) {
  .item .title {
    display: block;
  }
}
