.nav {
  grid-column: nav-start/page-end;
  grid-row: nav-start/nav-end;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--fade-light-md);
  background-color: var(--color-light);

  @media only screen and (min-width: 840px) {
    grid-column: nav-start/nav-end;
    grid-row: nav-start/footer-end;
    flex-direction: column;
    border-bottom: none;
    border-right: 1px solid var(--fade-light-md);
  }

  a {
    text-decoration: none;
  }

  .menu-open {
    position: relative;
    width: 5rem;
    height: 5rem;
    background-color: var(--color-secondary-light);
    cursor: pointer;

    @media only screen and (min-width: 840px) {
      width: 8rem;
      height: 8rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 3rem;
      height: 3rem;
      transform: translate(-50%, -50%);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 100%;
      mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgLTUzIDM4NCAzODQiIHdpZHRoPSI1MTJweCIgY2xhc3M9IiI+PGc+PHBhdGggZD0ibTM2OCAxNTQuNjY3OTY5aC0zNTJjLTguODMyMDMxIDAtMTYtNy4xNjc5NjktMTYtMTZzNy4xNjc5NjktMTYgMTYtMTZoMzUyYzguODMyMDMxIDAgMTYgNy4xNjc5NjkgMTYgMTZzLTcuMTY3OTY5IDE2LTE2IDE2em0wIDAiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZmlsbD0iIzAwMDAwMCIvPjxwYXRoIGQ9Im0zNjggMzJoLTM1MmMtOC44MzIwMzEgMC0xNi03LjE2Nzk2OS0xNi0xNnM3LjE2Nzk2OS0xNiAxNi0xNmgzNTJjOC44MzIwMzEgMCAxNiA3LjE2Nzk2OSAxNiAxNnMtNy4xNjc5NjkgMTYtMTYgMTZ6bTAgMCIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBmaWxsPSIjMDAwMDAwIi8+PHBhdGggZD0ibTM2OCAyNzcuMzMyMDMxaC0zNTJjLTguODMyMDMxIDAtMTYtNy4xNjc5NjktMTYtMTZzNy4xNjc5NjktMTYgMTYtMTZoMzUyYzguODMyMDMxIDAgMTYgNy4xNjc5NjkgMTYgMTZzLTcuMTY3OTY5IDE2LTE2IDE2em0wIDAiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZmlsbD0iIzAwMDAwMCIvPjwvZz4gPC9zdmc+");
      background-color: #ffffff;
    }
  }
}
