.not-found {
  grid-column: nav-start/page-end;
  grid-row: page-start/page-end;
  flex-grow: 10;
  padding: var(--padding-md);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-lighter);

  @media only screen and (min-width: 840px) {
    grid-column: page-start/page-end;
    grid-row: nav-start/page-end;
    padding: var(--padding-lg);
  }

  .title {
    font-size: 3.2rem;
    color: var(--color-primary-dark);
  }

  .description {
    font-size: 1.6rem;
    color: var(--color-secondary-dark);
  }
}
