.page {
  grid-column: nav-start/page-end;
  grid-row: page-start/page-end;
  position: relative;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  background-color: #455a64;
  overflow: hidden;
}

@media only screen and (min-width: 840px) {
  .page {
    grid-column: page-start/page-end;
    grid-row: nav-start/page-end;
    padding: 0 5rem;
  }
}

.page .title {
  font-size: 3rem;
  line-height: 8rem;
  color: #fafafa;
}

.page .content {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #fafafa;
  padding: 1rem 0;
  flex-grow: 10;
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.page .flash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #455a64;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.page.is-flashing .flash {
  opacity: 1;
  visibility: visible;
  transition: all 0s;
}

.page .flash::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translateY(-100%);
  transition: all 0.5s;
}

.page.page.is-flashing .flash::before {
  transform: translate(0);
}

@media only screen and (min-width: 840px) {
  .page .flash::before {
    transform: translateX(-100%);
  }
}
