.app-page {
  position: relative;
  color: #eeeeee;
  padding: 1rem;
  padding-top: 4rem;
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  cursor: pointer;
  flex-grow: 1;
}

.app-page:not(:first-of-type) {
  border-top: 3px solid #fafafa;
}

@media only screen and (min-width: 840px) {
  .app-page:not(:first-of-type) {
    border-top: none;
    border-left: 3px solid #fafafa;
  }
}

.app-page:nth-of-type(5n + 1) {
  background-color: #1e88e5;
}

.app-page:nth-of-type(5n + 2) {
  background-color: #d81b60;
}

.app-page:nth-of-type(5n + 3) {
  background-color: #5e35b1;
}

.app-page:nth-of-type(5n + 4) {
  background-color: #00897b;
}

.app-page:nth-of-type(5n + 5) {
  background-color: #f4511e;
}

.app-page.is-selected {
  flex-grow: 50;
}

.app-title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1rem;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.app-page.is-selected .app-title {
  top: 0;
  transform: translate(-50%, 0);
}

.app-content {
  width: 100%;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.app-page.is-selected .app-content {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s 0.5s;
}
