.select {
  position: relative;
  margin: var(--padding-md) 0;
  display: flex;

  .image {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--icon-md);
    height: var(--icon-md);
    mask-position: center;
    mask-size: 50%;
    mask-repeat: no-repeat;
    background-color: var(--color-secondary-light);
    pointer-events: none;
  }

  select {
    font-size: 1.2rem;
    font-weight: bold;
    height: var(--icon-md);
    line-height: var(--icon-md);
    width: 100%;
    padding: 0 var(--padding-lg);
    border: none;
    outline: none;
    color: var(--color-dark);
    background-color: var(--fade-dark-sm);
    appearance: none;
    cursor: pointer;

    option {
      background-color: var(--color-lighter);
    }
  }
}
