@charset "utf-8";

html *,
html *::after,
html *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 12px;
}

@media only screen and (min-width: 840px) {
  html {
    font-size: 14px;
  }
}

a,
a:link,
a:visited {
  color: var(--color-secondary-light);
  transition: color var(--transition-sm);
}

a:hover,
a:active {
  color: var(--color-secondary-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--padding-md) 0;
  color: var(--color-primary-dark);
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}
