:root {
  --color-primary-light: #1e88e5;
  --color-primary-dark: #1565c0;
  --color-secondary-light: #1e88e5;
  --color-secondary-dark: #1565c0;

  --color-lighter: #fafafa;
  --color-light: #eeeeee;
  --color-dark: #323232;
  --color-darker: #212121;

  --color-grey-sm: #eceff1;
  --color-grey-md: #cfd8dc;
  --color-grey-lg: #b0bec5;

  --color-transparent: rgba(0, 0, 0, 0);

  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 2rem;

  --icon-sm: 3rem;
  --icon-md: 5rem;
  --icon-lg: 8rem;

  --border-radius: 4px;
  --border-thickness: 1px;

  --transition-sm: 0.3s ease;
  --transition-md: 0.5s ease;
  --transition-lg: 0.7s ease;

  --box-shadow-sm: 0px 0px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-md: 0px 0px 4px rgba(0, 0, 0, 0.2);
  --box-shadow-lg: 0px 0px 4px rgba(0, 0, 0, 0.3);

  --box-shadow-inset-sm: 0px 0px 4px inset rgba(0, 0, 0, 0.1);
  --box-shadow-inset-md: 0px 0px 4px inset rgba(0, 0, 0, 0.2);
  --box-shadow-inset-lg: 0px 0px 4px inset rgba(0, 0, 0, 0.3);

  --fade-dark-sm: rgba(0, 0, 0, 0.1);
  --fade-dark-md: rgba(0, 0, 0, 0.3);
  --fade-dark-lg: rgba(0, 0, 0, 0.5);

  --fade-grey-sm: rgba(140, 140, 140, 0.1);
  --fade-grey-md: rgba(140, 140, 140, 0.3);
  --fade-grey-lg: rgba(140, 140, 140, 0.5);

  --fade-silver-sm: rgba(240, 240, 240, 0.1);
  --fade-silver-md: rgba(240, 240, 240, 0.3);
  --fade-silver-lg: rgba(240, 240, 240, 0.5);

  --fade-light-sm: rgba(255, 255, 255, 0.1);
  --fade-light-md: rgba(255, 255, 255, 0.3);
  --fade-light-lg: rgba(255, 255, 255, 0.5);
}

:root [data-theme="dark"] {
  --color-primary-light: #ef6c00;
  --color-primary-dark: #fb8c00;
  --color-secondary-light: #ef6c00;
  --color-secondary-dark: #fb8c00;

  --color-lighter: #212121;
  --color-light: #323232;
  --color-dark: #eeeeee;
  --color-darker: #fafafa;

  --fade-dark-sm: rgba(255, 255, 255, 0.1);
  --fade-dark-md: rgba(255, 255, 255, 0.3);
  --fade-dark-lg: rgba(255, 255, 255, 0.5);

  --fade-grey-sm: rgba(240, 240, 240, 0.1);
  --fade-grey-md: rgba(240, 240, 240, 0.3);
  --fade-grey-lg: rgba(240, 240, 240, 0.5);

  --fade-silver-sm: rgba(140, 140, 140, 0.1);
  --fade-silver-md: rgba(140, 140, 140, 0.3);
  --fade-silver-lg: rgba(140, 140, 140, 0.5);

  --fade-light-sm: rgba(0, 0, 0, 0.1);
  --fade-light-md: rgba(0, 0, 0, 0.3);
  --fade-light-lg: rgba(0, 0, 0, 0.5);
}
