.nav {
  grid-column: nav-start/page-end;
  grid-row: nav-start/nav-end;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--fade-light-md);
  background-color: var(--color-light);

  @media only screen and (min-width: 840px) {
    grid-column: nav-start/nav-end;
    grid-row: nav-start/footer-end;
    flex-direction: column;
    border-bottom: none;
    border-right: 1px solid var(--fade-light-md);
  }

  a {
    text-decoration: none;
  }

  .menu-open,
  .nav-more {
    position: relative;
    width: var(--icon-md);
    height: var(--icon-md);
    cursor: pointer;

    @media only screen and (min-width: 840px) {
      width: var(--icon-lg);
      height: var(--icon-lg);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: var(--icon-md);
      height: var(--icon-md);
      transform: translate(-50%, -50%);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 50%;
      transition: var(--transition-sm);
    }
  }

  .menu-open {
    background-color: var(--color-secondary-dark);

    &::before {
      mask-image: url("../../assets/images/icon-menu.svg");
      background-color: #ffffff;
    }
  }

  .nav-more {
    &::before {
      mask-image: url("../../assets/images/icon-more.svg");
      background-color: var(--color-secondary-dark);
    }

    &:hover {
      &::before {
        background-color: var(--color-dark);
      }
    }
  }

  .nav-hidden {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: var(--color-light);
    border: 1px solid var(--fade-light-md);
    transition: var(--transition-sm);

    @media only screen and (min-width: 840px) {
      transform: translateX(100%);
      flex-direction: row;
    }

    &.is-visible {
      opacity: 1;
      visibility: visible;
    }
  }
}
